<div class="modal-body delete-confirmation clear-bookmark text-center">
    <a href="javascript:void(0)" class="modal-close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span class="ico-close_bg"><span class="path1 hvr-icon-pop"></span><span class="path2"></span></span></a>
    <span class="ico-danger"><span class="path1"></span><span class="path2"></span></span>
    <p class="black-text">Confirmation</p>
    <p class="grey-text">The current bookmark is not valid for the type you have selected. Continuing to this type will clear the current bookmark filters.<br>Do you wish to continue?</p>
    <a href="" class="button filled-btn blue marginR10" ng-click="cancel()">Cancel</a>
    <a href="" class="button filled-btn blue" ng-click="clearBookmarkPopUp()">Clear and Continue</a>
</div>