<div class="modal-body co-definition">
    <a href="javascript:void(0)" class="modal-close" ng-click="cancel()"><span class="ico-close_bg"><span class="path1 hvr-icon-pop"></span><span class="path2"></span></span></a>
    <h1>Cisco ONE Migration Opportunities Definition</h1>
    <div class="grey-wrapper clearfix">
        <div class="white-wrapper">
            <h4>A la carte to Cisco ONE Migration TAO:</h4>
            <ul class="marginB30">
                <li><span class="bullet"></span><span class="list-text">10 years of Hardware in Installed Base that can ‘run’ Cisco ONE</span></li>
                <li><span class="bullet"></span><span class="list-text">Qualified by Hardware and ‘Anchor’ features sharing same product family in same CR_Partiy_ID ^</span></li>
                <li><span class="bullet"></span><span class="list-text">Hardware PID assigned to Cisco ONE PID</span></li>
                <li><span class="bullet"></span><span class="list-text">Prices are List prices</span></li>
                <li><span class="bullet"></span><span class="list-text">Provide an estimate on overall size of a la cart to Cisco ONE migration campaign</span></li>
            </ul>
            <h4>Assignment based on Hardware (HW) age (Process Date – Ship Date):</h4>
            <ul>
                <li><span class="bullet"></span><span class="list-text">Upgrade: HW Age &lt; 2 Years</span></li>
                <li><span class="bullet"></span><span class="list-text">Add: 2 Years &lt;= HW &lt; 5 Years</span></li>
                <li><span class="bullet"></span><span class="list-text">New: 5 Years &lt; HW Age &lt; 10 years</span></li>
            </ul>
        </div>
        <a class="button filled-btn blue pull-right" href="" ng-click="cancel()"><span>Done</span></a>
    </div>
</div>