<div class="modal-body text-center">
    <a href="javascript:void(0)" class="modal-close" data-dismiss="modal" aria-label="Close"  ng-click="cancel()"><span class="ico-close_bg"><span class="path1 hvr-icon-pop"></span><span class="path2"></span></span></a>
    <a href="https://salesconnect.cisco.com/open.html?h=PAGE-5569" class="sc-link"><img src="images/cisco-salesconnect.svg"/></a>
    <a href="https://salesconnect.cisco.com/open.html?h=PAGE-5569" class="link-text">Cisco SalesConnect</a>
    <p class="grey-text">Clicking on the link above will open an additional tab in Cisco SalesConnect pre-filtered for Cisco ONE</p>
    <a href="" class="button filled-btn blue marginT15 marginB15" ng-click="cancel()">Done</a>
</div>
