<div class="modal-body text-center">
    <a href="javascript:void(0)" class="modal-close" ng-click="cancel()"><span class="ico-close_bg"><span class="path1 hvr-icon-pop"></span><span class="path2"></span></span></a>
    <p class="popup-head marginT30 marginB10">Create Estimate</p>
    <p class="marginB20">Please proceed with estimate creation in <br>CCW tool opened in new tab</p> 
    <p class="popup-note marginB20"><strong>Note:</strong> Please note that Prospects generated in Cisco Ready may not match the Estimate generated in CCW. We are <br>working on alignment in upcoming releases.</p>
</div>