<div class="modal-body delete-bookmark text-center">
    <a href="javascript:void(0)" class="modal-close" data-dismiss="modal" aria-label="Close"  ng-click="cancel()"><span class="ico-close_bg"><span class="path1 hvr-icon-pop"></span><span class="path2"></span></span></a>
    <img src="images/shredder.svg">
    <p class="black-text">Delete Bookmark</p>
    <p class="grey-text paddingLR30">You are about to permanently delete this bookmark and all references to it.<br>Do you want to proceed?</p>
    <a href="" class="button filled-btn blue" ng-click="deleteBookmark()">Yes, Delete it</a>
</div>