<div class="modal-header">
    <h1>Subscription
        <a href="javascript:void(0)" class="modal-close" ng-click="cancel()">
            <span class="ico-close_bg">
                <span class="path1 hvr-icon-pop"></span>
                <span class="path2"></span>
            </span>
        </a>
    </h1>
</div>
<div class="modal-body subscription-definition-popup">
    <div class="tab-content expanded marginT10">
        <div class="table-responsive campaign-table subscription-view marginB5">
            <table class="table opp-by striped-table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="lighter-col">Perpetual Software</th>
                        <th>Subscription Software (T&C subscriptions)</th>
                        <th>SaaS (Software as a Services)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" class="text-bold">Description</td>
                        <td class="borderB0 lighter-col">Perpetual licenses are sold as permanent software purchases. Updates and support requires software
                            support contract (SWSS).</td>
                        <td class="borderB0">Subscription Software is sold as a license for a specific time period. The subscription includes
                            upgrades and support.</td>
                        <td class="borderB0">SaaS is sold as a Cisco-hosted license. It is a cloud only model.</td>
                    </tr>
                    <tr>
                        <td class="lighter-col">Typically Perpetual Software needs underlying hardware element or works for on-premise software only
                            offers.</td>
                        <td>Subscription Software offers on-going access to innovation for customer and benefits Cisco by providing
                            recurring revenue. Typically, subscription software is deployed on-premise on end-user hardware.</td>
                        <td>SaaS should be used for pure play SaaS offers where the customer requires no hardware or on-premise
                            software in order to function and deliver customer value.</td>
                    </tr>
                    <tr>
                        <td class="text-bold">Can be found in...</td>
                        <td class="lighter-col">Total Asset View, Product Refresh, SWSS Renew and Attach tab</td>
                        <td>Total Asset View and Subscription tab</td>
                        <td>Total Asset View and Subscription tab</td>
                    </tr>
                    <tr>
                        <td class="text-bold">Data availability</td>
                        <td class="lighter-col">Fully integrated</td>
                        <td>Fully integrated</td>
                        <td>Almost fully integrated. The missing data: WebEx legacy (transactions from legacy WebEx system called
                            BLiS which are not in GPL)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="learn-more">
            <a target="_blank" href="https://cisco.jiveon.com/docs/DOC-1865876">Click here</a> to learn more about Monetization Models.</p>
        <div class="table-responsive campaign-table">
            <h4>What comes next? (Q2-Q4 FY19)</h4>
            <table class="table opp-by striped-table">
                <thead>
                    <tr>
                        <th>IOT</th>
                        <th>SP VSS</th>
                        <th>Acquisitions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>DDP Fog</td>
                        <td>NSO, VMS/ NFV</td>
                        <td>Viptela</td>
                    </tr>
                    <tr>
                        <td>Energy Management</td>
                        <td>Infinite Video/Home/Broadcast</td>
                        <td>Meraki</td>
                    </tr>
                    <tr>
                        <td>Jasper</td>
                        <td>Cloud DVR</td>
                        <td>App D</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
