<div class="modal-body success-message bookmark-messages text-center">
    <a href="javascript:void(0)" class="modal-close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span class="ico-close_bg"><span class="path1 hvr-icon-pop"></span><span class="path2"></span></span></a>
    <span class="ico-confirmation"><span class="path1"></span><span class="path2"></span></span>
    <p class="black-text">Success</p>
    <p class="grey-text">The bookmark '{{bookmark.name}}' is shared successfully.</p>
    <a href="" class="button filled-btn blue" ng-click="cancel()">Ok</a>
</div>