<div class="col-sm-12"  ng-show="$root.accessIssue == 'noaccess'">
    <div class="page-level-msg error no-access">
         <div class="error-ico">
             <img class="noaccess" src="images/noaccess.svg" alt=""/></div>
         <span class="error-msg">No Access</span>
         <span class="grey-text">You are not authorized to view this page.</span>
         <span class="grey-text">For instructions on how to request access, </br>please visit the Cisco SalesConnect Access Guide webpage.</span>        
         <a class="link-text" target="_blank" href="https://www.cisco.com/c/dam/en/us/products/se/2017/4/Collateral/Cisco_Ready_Access_Guide.pdf">Enrollment Guide</a>
         <a target="_blank" href="https://salesconnect.cisco.com/c/r/salesconnect/index.html#/content-detail/b5e2cb9a-25f3-4f59-9ae2-8ba3fe1326f5" class="button filled-btn blue"><span>For additional information - go to SalesConnect</span></a>
     </div>
</div>