<div class="modal-body text-center">
    <a href="javascript:void(0)" class="modal-close" data-dismiss="modal" aria-label="Close"  ng-click="cancel()"><span class="ico-close_bg"><span class="path1 hvr-icon-pop"></span><span class="path2"></span></span></a>
    <span class="ico-confirmation"> </span>
    <p class="success-text">Your request for report generation has been successfully submitted.</p>
    <p class="grey-text">The report will be sent to you in an email shortly.</p>
    <a href="" class="button filled-btn blue" ng-click="cancel()">Done</a>
</div>
